<nav class="navbar">
  <a href="/" class="logo">JobPortal</a>
  <div>
    <a href="/">Home</a>
    <a href="/jobs">Jobs</a>
    <a href="/applications">Applications</a>
    <a href="/users">Users</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>
</nav>
